
<p id="notice"><%= notice %></p>

<h1>Edit Profile</h1>
<h4>All changes will become part of your profile.<h4>
<br/>
<div class="container-fluid">
<p>
  <strong>User Name: <%= @profile.user.username %></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <strong>Email: <%= @profile.user.email %></strong>
</p>
<hr/>


<%= render 'form', profile: @profile %>

</div>

<!-- %= link_to 'Show', user_profile_path(@user) %--> 
