<h1>Thank you, <%= @profile.user.username %></h1>
  <p>Thanks for signing up! Your profile is awaiting approval of one of our staff members. We'll email you once it has been approved.</p>
  <p>If you have any questions please feel free to <a href="https://2unstoppable.org/contact-us">contact us</a>.</p>

