<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, your 2Unstoppable profile has been approved!
    </h1>
    <p>
      Please click the following link to log in:
      http://localhost:3000/users/sign_in <br>
    </p>
    <p>
      Please contact info@2Unstoppable.org with any questions.
    </p>
  </body>
</html>