
<div class="container-fluid"  width="100%" style="text-align:center">
    <h1><span class="font-pink">Hello <%= @user.email %></span></h1>

    <p>A username reminder has been requested for this email address.</p>
    <p>The following username is associated with this email: </p>

    <p><b> <%= @user.username %> </b></p>
    <br/>
    <p> Please click to log in: </p>
    <%= link_to "Login", @home, class: 'btn btn-primary' %>
    <%= render "shared/email_footer" %>
</div>



