
<p>Hello <%= @user.email %></p>

<p>A username reminder has been requested for this email address.</p>
<p>The following username(s) are associated with this email: </p>

<p><b> <%= @user.username %> </b></p>
<br/>
<p> Please click the following link to log in: </p>

<p>http://localhost:3000</p>
<p> Please contact info@2Unstoppable.org with any questions. </p>
