
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> User has been confirmed </h1>
    <p> The following User with Username: <%= @user.username %>, Email:  <%= @user.email %>, has been confirmed to successfully access 2Unstoppable</p>
  </body>
</html>