
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <div class="container-fluid"  width="100%" style="text-align:center">
    <h1> <span style="color:#ed698e"> User has been confirmed! </span> </h1>
    <h2> The following User with Username: <%= @user.username %>, Email:  <%= @user.email %>, has been confirmed to successfully access 2Unstoppable.</h2>
  </div>
  </body>
</html>