<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container-fluid"  width="100%" style="text-align:center">
      <h1><span class="font-pink">Welcome to 2Unstoppable, <%= @user.username %></span></h1>
      <h2>
        <span class="font-pink">
          We are so glad that you signed-up to be part of the 2Unstoppable community.
        </span>
      </h2>
      <p>
        To login to the site, just follow this link: <%= confirm_email_user_url(@user.confirm_token) %>
      </p>
      <p>Thanks for joining and have a great day!</p>

      <%= render "shared/email_footer" %>
    </div>
  </body>
</html>