<div class="container">
    <div id="postman">
        <h1>Send a message</h1>
        <%= form_tag conversations_path, method: :post do |f| %>
            <div class="row">
                <div class="col-md-8">
                    <div class="fieldWrapper">
                        <% unless @message_to_id.blank? %>
                            <%= hidden_field_tag :user_id, @message_to_id %>
                        <% else %>
                            To: <%= select_tag :user_id, recipients_options,  class: 'form-control chosen-it', :style => "width:350px"  %>
                        <% end %>
                    </div>
                    <div class="fieldWrapper">
                        <label for="id_subject">Subject:</label>
                        <input class="form-control input-lg" id="id_subject" maxlength="120" name="subject" type="text" required="required" />
                        <div class="text-danger"></div>
                    </div>
                    <div class="text-danger"></div>
                    <div class="fieldWrapper">
                        <label for="id_body">Message:</label>
                        <textarea class="form-control input-lg" id="id_body" name="body" rows="12" required="required"></textarea>
                    <div class="text-danger"></div>
                    <div class="fieldWrapper">
                        <%= link_to conversations_path(:user_id => current_user.id), :class => "btn btn-primary" do  %>
                            < Back</span>
                        <% end %>
                        <button class="btn btn-primary" type="submit">Send Message</button>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>