<h3> New Conversation </h3>

<div class="container">
    <div id="postman">
        <h1>Send a message</h1>
        <%= form_tag conversations_path, method: :post do |f| %>
            <div class="row">
                <div class="col-md-8">
                    <div class="fieldWrapper">
                        <% unless @message_to_id.blank? %>
                            <%= hidden_field_tag :user_id, @message_to_id %>
                        <% else %>
                            To: <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name) %>
                        <% end %>
                    </div>
                    <div class="fieldWrapper">
                        <label for="id_subject">Subject:</label>
                        <input class="form-control input-lg" id="id_subject" maxlength="120" name="subject" type="text" />
                        <div class="text-danger"></div>
                    </div>
                    <div class="text-danger"></div>
                    <div class="fieldWrapper">
                        <label for="id_body">Message:</label>
                        <textarea class="form-control input-lg" id="id_body" name="body" rows="12"></textarea>
                    <div class="text-danger"></div>
                    <div class="fieldWrapper">
                        <%= submit_tag %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>