<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  
</p>

<h1>Editing User Profile</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', user_path %>