<div class="container">
      
  <div class="row registration-steps row-no-padding">
  
    <div class="col-md-2">
      <div class="registration-step registration-step-complete">
        <div class="number"><div class="circle">1</div></div>
        Basic Info
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step registration-step-complete">
        <div class="number"><div class="circle">2</div></div>
        About Me
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step registration-step-complete">
        <div class="number"><div class="circle">3</div></div>
        Cancer History
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step  registration-step-complete">
        <div class="number"><div class="circle">4</div></div>
        Photo
      </div>
    </div>
  
    <div class="col-md-2">
      <div class="registration-step registration-step-active">
        <div class="number"><div class="circle">5</div></div>
        Confirm Email
      </div>
    </div>

    <div class="col-md-2">
      <div class="registration-step ">
        <div class="number"><div class="circle">6</div></div>
        Browse Profiles
      </div>
    </div>

  </div>
</div>

    <div class="container-fluid"  width="100%" style="text-align:center">
      <h1>Hello <%= @user.username %>!</h1>
      <h2>An email has been resent to <%= @user.email %>. Before you can begin connecting with other members, please confirm your account.
      </h2>
      <br/>
      <%= render "shared/email_footer" %>
      <%= render "shared/return_to_main" %>
    </div>
  