<html>
  <head>
    <title> Step Progress Bar </title>
    <%= stylesheet_link_tag "progressbar" %>
  </head>
  <body>
      <div class="container">
        <ul class="progressbar">
          <li class="active"> Step 1 </li>
          <li> Step 2 </li>
          <li> Step 3 </li>
        </ul>
      </div>
    <h2>Email Confirmation</h2>
    <hr>
    <p>An email confirmation has been sent to the address you've specified. Please follow the instructions there to continue the sign up process.</p>
  </body>
</html>