      <p> Contact info <%= link_to nil, "http://2unstoppable.org/contact-us/" %> if you have any questions</p>
      <p><span style="font-weight:bold"> Keep moving and stay strong </span></p>
      <p><span style="font-weight:bold"> Your 2Unstoppable Team! </span></p>