<div class="container-fluid"  width="100%">
    
    <h2>Thank you!</h2>
    <h2>Please check your email!</h2>
    <h3> <%= button_to "Login", new_user_session_url, class: 'btn btn-primary' %></h3>
    <hr>
</div>