
<div class="container-fluid"  width="100%">
    
    <h2>Email sent to <%= @user.email %> with username</h2>
    <hr>
    <p>A username reminder has been sent for the profile matching the provided email.</p>
</div>