
<div class="container-fluid"  width="100%"  style="text-align:center">
    <h1><span style="color:#ed698e">Hello <%= @resource.email %>!</h1>

    <h2>Forgot your password? No problem! Just click the link below to be directed to the website to change your password.</h2>

    <h1><span style="background-color:yellow"><%= link_to 'Change my password', @home/@token %></h1>

    <h2>If you didn't request this, please ignore this email.</h2>

    <%= render "shared/email_footer" %>
</div>
